body {
    background: linear-gradient(100deg,rgb(1, 83, 224),rgb(254, 254, 254));
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

.container {
  max-width: 2000px;
}

.left-panel {
  padding: 3rem;
  flex: 0 0 35%;
  font-size: 2rem;
}
.left-panel p {
  font-size: 3rem;
}

.right-panel {
  padding: 3rem;
  flex: 0 0 45%;
}

.custom-list {
  font-size: 1.2rem;
  list-style: none;
  padding-left: 0;
  counter-reset: list-counter;
}

.custom-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
  counter-increment: list-counter;
}

.custom-list li::before {
  content: counter(list-counter);
  background: white;
  color: black;
  font-weight: bold;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin-right: 10px;
}

.card {
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.login-btn,
.register-btn {
  width: 100%;
  padding: 12px;
  font-size: 1.2rem;
  border-radius: 10px;
}

.login-btn {
  border: 2px solid #0ca750;
  background: white;
  color: #0ca750;
}

.login-btn:hover {
  background: #0ca750;
  color: white;
}

.register-btn {
  background: #0ca750;
  color: white;
}

.or-text {
  text-align: center;
  font-size: 1.2rem;
  margin: 15px 0;
}

.footer-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 50px;
}

.modal-content {
  border-radius: 20px;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.custom-list {
  list-style-type: decimal;
  padding-left: 20px;
}

.privacy-notice {
  font-weight: bold;
  margin-top: 15px;
}

.checkbox-label {
  margin-top: 15px;
}

.checkbox-label {
  display: flex;
  align-items: center;
}

.checkbox-label input {
  margin-right: 10px;
}

/* .modal-content {
  border-radius: 10px;
}

.modal-title {
  background-color: #007bff;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.modal-footer {
  border-top: none;
} */